<div class="container d-flex justify-content-center align-items-center">
  <div class="row box-area mt-md-3 col-8">
    <div
      class="text-center mt-2 text-muted mb-2"
      style="font-weight: bold; font-size: 1.5em"
    >
      Registration Form
    </div>
    <div class="row align-items-center me-1 mb-1 ms-1">
      <form
        [formGroup]="signupForm"
        (ngSubmit)="submitSignupForm()"
        class="border p-3 rounded-4"
        enctype="multipart/form-data"
      >
        <div class="g-0"></div>
        <div class="row">
          <div class="col mb-1">
            <input
              type="text"
              class="form-control is-valid form-md-control-md bg-light fs-6"
              placeholder="First Name"
              name="fname"
              id="fname"
              formControlName="fname"
              [ngClass]="{'is-valid':(fname.touched || fname.dirty)&&!(fname.errors?.['required'] || (fname.errors?.['pattern'])),'is-invalid':((fname.touched||fname.dirty) && (fname.errors?.['required'] || (fname.errors?.['pattern'])))}"
            />@if ((fname.touched || fname.dirty) && fname.errors?.['required'])
            {
            <div class="invalid-feedback">*Firstname is Required.</div>
            } @if (fname.errors?.['pattern']&&(fname.touched || fname.dirty)) {
            <div class="invalid-feedback mb-1 ps-1">*Firstname is Invalid.</div>
            }
          </div>
          <div class="col-md mb-1">
            <input
              type="text"
              class="form-control form-control-md bg-light fs-6"
              placeholder="Last Name"
              name="lname"
              id="lname"
              formControlName="lname"
              [ngClass]="{'is-valid':(lname.touched || lname.dirty)&&!(lname.errors?.['required'] || (lname.errors?.['pattern'])),'is-invalid':((lname.touched||lname.dirty) && (lname.errors?.['required'] || (lname.errors?.['pattern'])))}"
            />
            @if ((lname.touched || lname.dirty) && lname.errors?.['required']) {
            <div class="invalid-feedback">*Lastname is Required.</div>
            } @if (lname.errors?.['pattern']&&(lname.touched || lname.dirty)) {
            <div class="invalid-feedback mb-1 ps-1">*Lastname is Invalid.</div>
            }
          </div>
        </div>
        <div class="row mt-1">
          <div class="col mb-2">
            <input
              type="email"
              class="form-control form-md-control-md bg-light fs-6"
              placeholder="Email"
              name="email"
              id="email"
              formControlName="email"
              [ngClass]="{'is-valid':(id.touched || id.dirty)&&!(id.errors?.['required'] || (id.errors?.['pattern'])),'is-invalid':((id.touched||id.dirty) && (id.errors?.['required'] || (id.errors?.['pattern'])))}"
            />
            @if ((id.touched || id.dirty) && id.errors?.['required']) {
            <div class="invalid-feedback ps-1">*id is Required.</div>
            } @if (id.errors?.['pattern']&&(id.touched || id.dirty)) {
            <div class="invalid-feedback mb-1 ps-1">*Email is Invalid.</div>
            }
          </div>
          <div class="col mb-2">
            <input
              type="tel"
              class="form-control form-md-control-md bg-light fs-6"
              placeholder="Phone Number"
              name="phone"
              id="phone"
              formControlName="phone"
              [ngClass]="{'is-valid':(phone.touched || phone.dirty)&&!(phone.errors?.['required'] || (phone.errors?.['pattern'])),'is-invalid':((phone.touched||phone.dirty) && (phone.errors?.['required'] || (phone.errors?.['pattern']) || phone.errors?.['minlength'] ||phone.errors?.['maxlength']))}"
            />
            @if ((phone.touched || phone.dirty) && phone.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Phone No. is Required.</div>
            }@if(phone.errors?.['pattern']&&(phone.touched || phone.dirty)) {
            <div class="invalid-feedback mb-1 ps-1">
              *Phone Number is Invalid.
            </div>
            } @if ((phone.touched || phone.dirty) &&
            phone.errors?.['minlength']) {
            <div class="invalid-feedback ps-1">*Phone Number is Short.</div>
            } @if ((phone.touched || phone.dirty) &&
            phone.errors?.['maxlength']) {
            <div class="invalid-feedback ps-1">*Phone Number is Long.</div>
            }
          </div>
        </div>
        <div class="row g-0">
          <div class="col-md">
            <div class="">Gender</div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                value="male"
                id="male"
                formControlName="gender"
              />
              <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                value="female"
                id="female"
                formControlName="gender"
              />
              <label for="female" class="form-check-label">Female</label>
            </div>
            @if (gender.touched && gender.errors?.['required']) {
            <div class="form-text text-danger ps-1">*Gender is Required.</div>
            }
          </div>
          <div class="col-md ps-4">
            <label for="department" class="form-label">Department</label>
            <select
              name="department"
              id="department"
              formControlName="department"
              class="form-select form-select-sm bg-light w-75"
              [ngClass]="{'is-valid':(department.touched)&&!(department.errors?.['required']),'is-invalid':((department.touched) && (department.errors?.['required']))}"
            >
              @for (item of deptData; track $index) {
              <option value="{{ item.departmentName }}">
                {{ item.departmentName }}
              </option>
              }
            </select>
            @if (department.touched && department.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Department is Required.</div>
            }
          </div>
          <div class="col">
            <label for="doj" class="form-label">Joined On</label>
            <input
              type="date"
              class="form-control form-md-control-md bg-light fs-6"
              name="doj"
              id="doj"
              formControlName="doj"
              [ngClass]="{'is-valid':(doj.touched)&&!(doj.errors?.['required']),'is-invalid':((doj.touched) && (doj.errors?.['required']))}"
            />
            @if (doj.touched && doj.errors?.['required']) {
            <div class="invalid-feedback ps-1">
              *Date Of Joining is Required.
            </div>
            }
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="date" class="form-label">Birth Date</label>
            <input
              type="date"
              class="form-control form-md-control-md bg-light fs-6"
              name="date"
              id="date"
              formControlName="date"
              [ngClass]="{'is-valid':(date.touched)&&!(date.errors?.['required']),'is-invalid':((date.touched) && (date.errors?.['required']))}"
            />
            @if (date.touched && date.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Date is Required.</div>
            }
          </div>
          <div class="col-md mb-2">
            <label for="image" class="form-label">Image</label>
            <input
              type="file"
              class="form-control form-control-md bg-light fs-6"
              name="image"
              id="image"
              formControlName="image"
              (change)="onChangeFileField($event)"
              [ngClass]="{'is-valid':(image.touched)&&!(image.errors?.['required']),'is-invalid':((image.touched) && (image.errors?.['required']))}"
            />
            @if (image.touched && image.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Image is Required.</div>
            }
          </div>
          <div class="col mb-2">
            <label for="salary" class="form-label">Salary</label>
            <input
              type="number"
              class="form-control form-md-control-md bg-light fs-6"
              placeholder="Salary"
              name="salary"
              id="salary"
              formControlName="salary"
              [ngClass]="{'is-valid':(salary.touched || salary.dirty)&&!(salary.errors?.['required'] || (salary.errors?.['pattern'])),'is-invalid':((salary.touched||salary.dirty) && (salary.errors?.['required'] || (salary.errors?.['pattern'])))}"
            />
            @if ((salary.touched || salary.dirty) &&
            salary.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Salary is Required.</div>
            }@if(salary.errors?.['pattern']&&(salary.touched || salary.dirty)) {
            <div class="invalid-feedback mb-1 ps-1">*Salary is Invalid.</div>
            }
          </div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <input
              type="password"
              class="form-control form-md-control-md bg-light fs-6"
              placeholder="Password"
              name="password"
              id="password"
              formControlName="password"
              [ngClass]="{'is-valid':(password.touched || password.dirty)&&!(password.errors?.['required'] || (password.errors?.['pattern'])),'is-invalid':((password.touched||password.dirty) && (password.errors?.['required'] || (password.errors?.['pattern'])))}"
            />
            @if ((password.touched || password.dirty) &&
            password.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Password is Required.</div>
            } @if (password.errors?.['pattern']&&(password.touched ||
            password.dirty)) {
            <div class="invalid-feedback mb-1 ps-1 text-wrap">
              *Password must contain at least 8 characters,1 Uppercase,1
              Lowercase,1 number,1 special characters.
            </div>
            }
          </div>
          <div class="col-md">
            <input
              type="password"
              class="form-control form-control-md bg-light fs-6"
              placeholder="Confirm Password"
              name="cPassword"
              id="cpassword"
              formControlName="cPassword"
              [ngClass]="{'is-valid':(cPassword.touched || cPassword.dirty)&&!(cPassword.errors?.['required'] || signupForm.errors?.['mismatch']),'is-invalid':((cPassword.touched||cPassword.dirty) && (cPassword.errors?.['required'] || signupForm.errors?.['mismatch']))}"
            />
            @if ((cPassword.touched || cPassword.dirty) &&
            cPassword.errors?.['required']) {
            <div class="invalid-feedback ps-1">*Password is Required.</div>
            } @if ((cPassword.touched || cPassword.dirty) &&
            signupForm.errors?.['mismatch']) {
            <div class="invalid-feedback ps-1">*Password does not match.</div>
            }
          </div>
        </div>
        <div class="row" formGroupName="address">
          <div class="row">
            <div class="col">
              <label for="street" class="form-label">Address</label>
              <input
                type="text"
                class="form-control is-valid form-md-control-md bg-light fs-6"
                placeholder="Street Address"
                name="street"
                id="street"
                formControlName="street"
                [ngClass]="{'is-valid':(street.touched || fname.dirty)&&!(street.errors?.['required']),'is-invalid':((street.touched||street.dirty) && street.errors?.['required'])}"
              />@if ((street.touched || street.dirty) &&
              street.errors?.['required']) {
              <div class="invalid-feedback">*Street Address is Required.</div>
              }
            </div>
            <div class="col mt-2">
              <label for="postal" class="form-label"> </label>
              <input
                type="number"
                class="form-control is-valid form-md-control-md bg-light fs-6"
                placeholder="Postal Code"
                name="postal"
                id="postal"
                formControlName="postal"
                [ngClass]="{'is-valid':(postal.touched || postal.dirty)&&!(postal.errors?.['required']),'is-invalid':((postal.touched||postal.dirty) && postal.errors?.['required'])}"
              />@if ((postal.touched || postal.dirty) &&
              postal.errors?.['required']) {
              <div class="invalid-feedback">*Postal Code is Required.</div>
              }
            </div>
            <div class="col mt-2">
              <label for="region" class="form-label"> </label>
              <input
                type="text"
                class="form-control is-valid form-md-control-md bg-light fs-6"
                placeholder="Region"
                name="region"
                id="region"
                formControlName="region"
                [ngClass]="{'is-valid':(region.touched || region.dirty)&&!(region.errors?.['required']),'is-invalid':((region.touched||region.dirty) && region.errors?.['required'])}"
              />@if ((region.touched || region.dirty) &&
              region.errors?.['required']) {
              <div class="invalid-feedback">*Region is Required.</div>
              }
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <input
                type="text"
                class="form-control is-valid form-md-control-md bg-light fs-6"
                placeholder="City"
                name="city"
                id="city"
                formControlName="city"
                [ngClass]="{'is-valid':(city.touched || city.dirty)&&!(city.errors?.['required']),'is-invalid':((city.touched||city.dirty) && street.errors?.['required'])}"
              />@if ((city.touched || city.dirty) && city.errors?.['required'])
              {
              <div class="invalid-feedback">*city is Required.</div>
              }
            </div>
            <div class="col">
              <select
                name="country"
                id="country"
                formControlName="country"
                class="form-select bg-light"
                [ngClass]="{'is-valid':(country.touched)&&!(country.errors?.['required']),'is-invalid':((country.touched) && (country.errors?.['required']))}"
              >
                @for (item of countryArray; track $index) {
                <option value="{{ item }}">{{ item }}</option>
                }
              </select>
              @if (country.touched && country.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Select Country.</div>
              }
            </div>
          </div>
        </div>
        <div class="row" formArrayName="skills">
          <label for="" class="form-label">Add Skills</label>
          @for(control of skills['controls'];track $index) {
          <div class="col-4 mb-1">
            <div class="row ms-1">
              <div class="col-8">
                <input
                  type="text"
                  placeholder="Add Skill..."
                  class="form-control form-control-sm"
                  [formControlName]="$index"
                />
              </div>
              <div class="col-3">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary"
                  (click)="DeleteSkill($index)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
          }
          <div class="row mt-1">
            <div class="col-2 m-auto">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="AddSkills()"
              >
                Add Skills
              </button>
            </div>
          </div>
        </div>
        <div formArrayName="experience" class="row col-10 m-auto">
          @for(control of experience['controls'];track $index) {
          <div class="border p-3 rounded-4 mt-1" [formGroupName]="$index">
            <label class="form-label">Experience {{ $index + 1 }}</label>
            <div class="row">
              <div class="col mb-1">
                <input
                  type="text"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="company"
                  name="company"
                  id="company"
                  formControlName="company"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <select
                  name="position"
                  id="position"
                  formControlName="position"
                  class="form-select form-select-sm bg-light w-75"
                >
                  <option hidden>Position</option>
                  <option>Junior Developer</option>
                  <option>Software Developer</option>
                  <option>Senior Developer</option>
                  <option>Team Lead</option>
                </select>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="totalExp"
                  name="totalExp"
                  id="totalExp"
                  formControlName="totalExp"
                />
              </div>
            </div>
            <div class="row mt-1">
              <div class="col">
                <input
                  type="date"
                  class="form-control form-md-control-md bg-light fs-6"
                  name="start"
                  id="start"
                  formControlName="start"
                />
              </div>
              <div class="col">
                <input
                  type="date"
                  class="form-control form-md-control-md bg-light fs-6"
                  name="endDate"
                  id="endDate"
                  formControlName="endDate"
                />
              </div>
            </div>
            <div class="row mt-2 m-auto">
              <div class="col-4 m-auto">
                <button
                  type="button"
                  class="btn btn-sm btn-primary"
                  (click)="DeleteExperience($index)"
                >
                  Delete Experience
                </button>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="row mt-1">
          <div class="col-4 ml-4">
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="AddExperience()"
            >
              Add Experience
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col text-center">
            <button
              type="submit"
              [disabled]="signupForm.invalid && !signupForm.errors?.['match']"
              class="btn btn-primary"
            >
              Signup
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
